:root {
    --bg-clr: var(--alabaster, white);
    --text-clr: black;
    --bittersweet: #ed6a5a;
    --lemon-chiffon: #f4f1bb;
    --ash-gray: #9bc1bc;
    --alabaster: #e6ebe0;
    --robin-egg-blue: #36c9c6;
    --card-padding: 0;

    --todo-item-bg-clr: var(--ash-gray, gray);
    --sidebar-li-text-clr: var(black, gray);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-clr, white);
    color: var(--text-clr, black);
}

ul,
li {
    list-style: none;
}

button {
    cursor: pointer;
    &:hover {
        scale: 1.05;
    }
}

/* Header */
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-bottom: 1px solid gray;
}

/* Content */

#content {
    display: grid;
    grid:
        "sidebar content" 1fr
        / 1fr 5fr;
}

/* Sidebar */

.sidebar-wrapper {
    padding: 20px;
    border-right: 1px solid gray;
}

.sidebar-title {
    font-size: 2rem;
}

.sidebar-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.sidebar-li {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 8px;
    color: var(--sidebar-li-text-clr, black);
}

.sidebar-li:hover:not(.highlighted) {
    scale: 1.05;
    color: var(--ash-gray);
}

.highlighted {
    color: var(--robin-egg-blue);
}

/* Main content */

.todo-item-box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-item-card-wrapper {
    position: relative;
}

.todo-item-card {
    cursor: pointer;
    padding: var(--card-padding, 0);
    border: 1px solid transparent; /* Used to prevent jump when border appears*/
    padding-left: 8px;
}

.todo-item-card:hover {
    color: var(--ash-gray);
}

.todo-item-card:has(> .unhidden) {
    border-left-color: var(--robin-egg-blue);
}

.hidden {
    display: none;
}

.todo-item-title {
    font-size: 2em;
}

.completed-tick {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 0.75em;
    left: -1.5em;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.completed-tick:hover {
    outline: solid 1px var(--ash-gray);
}

.completed-tick.ticked {
    background-color: var(--ash-gray);
    border: none;
}
