:root {
    --bg-clr: var(--alabaster, white);
    --text-clr: black;
    --bittersweet: #ed6a5a;
    --lemon-chiffon: #f4f1bb;
    --ash-gray: #9bc1bc;
    --alabaster: #e6ebe0;
    --robin-egg-blue: #36c9c6;
    --card-padding: 0;

    --main-font: "Atkinson Hyperlegible Next", serif;
    --marker-font: "Permanent Marker", serif;
    --caveat-font: "Caveat", serif;

    --todo-item-bg-clr: var(--ash-gray, gray);
    --sidebar-li-text-clr: var(black, gray);
    --header-height: 100px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-clr, white);
    color: var(--text-clr, black);
    position: relative;
    font-family: var(--main-font);
}

ul,
li {
    list-style: none;
}

button {
    cursor: pointer;
}

/* Header */
header {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-bottom: 1px solid gray;
    font-family: var(--marker-font);
}

/* Content */

#content {
    display: grid;
    grid:
        "sidebar content" calc(100vh - var(--header-height))
        / 1fr 5fr;
}

/* Sidebar */

.new-project-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    background-color: transparent;
    color: var(--robin-egg-blue);
    border-radius: 25%;
    border: none;
    height: 1em;
    width: 1em;
    &:hover {
        color: var(--ash-gray);
    }
}

.sidebar-wrapper {
    padding: 20px;
    border-right: 1px solid gray;
    position: relative;
}

.sidebar-title {
    font-size: 2rem;
}

.sidebar-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.sidebar-li {
    cursor: pointer;
    font-size: 1.4rem;
    padding: 8px;
    color: var(--sidebar-li-text-clr, black);
    min-width: 20ch;
    max-width: 20ch;
    font-family: var(--caveat-font);
    font-weight: 800;
    font-size: 2rem;
    display: flex;
}

.sidebar-li-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

img.delete-svg:hover {
    filter: drop-shadow(0 0 2px #ed6a5a);
}

.sidebar-li:hover:not(.highlighted) {
    color: var(--ash-gray);
}

.sidebar-li.highlighted {
    white-space: wrap;
    text-overflow: ellipsis;
    max-width: 20ch;
    text-decoration: underline;
}

.highlighted {
    color: var(--robin-egg-blue);
}

/* Main content */

.main-content-wrapper {
    position: relative;
}

.new-todo-item-button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em;
    background-color: transparent;
    color: var(--robin-egg-blue);
    border-radius: 25%;
    border: none;
    height: 1em;
    width: 1em;
    &:hover {
        color: var(--ash-gray);
    }
}

.todo-item-box {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.todo-item-card-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.todo-item-card {
    cursor: pointer;
    padding: var(--card-padding, 0);
    border: 1px solid transparent; /* Used to prevent jump when border appears*/
    padding-left: 8px;
    font-family: var(--caveat-font);
    font-size: 1.5rem;
}

.todo-item-card:hover {
    color: var(--ash-gray);
}

.todo-item-card:not(:has(> .hidden)) {
    border-left-color: var(--robin-egg-blue);
}

.hidden {
    display: none;
}

.todo-item-title {
    font-size: 2.5rem;
    font-family: var(--caveat-font);
    font-weight: 800;
}

.todo-item-btn-div,
.sidebar-btn-div {
    display: flex;
}

.todo-item-btn-div.hidden > *,
.sidebar-btn-div.hidden > * {
    display: none;
}

.completed-tick {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.completed-tick:hover {
    outline: solid 1px var(--ash-gray);
}

.completed-tick.ticked {
    background-color: var(--ash-gray);
    border: none;
    position: relative;
    &:after {
        content: "🗸";
        position: absolute;
        left: 0.1rem;
        bottom: -0.4rem;
        font-size: 1.5rem;
    }
}

/* Pop up form */
.pop-up-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-box {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 320px;
}

.pop-up-title {
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: 1.4rem;
    font-weight: 600;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    place-self: center;
    width: 80%;
    gap: 8px;
}

.form-input {
    display: block;
}

.form-btn-group {
    padding-top: 1.5rem;
    display: flex;
    gap: 10px;
    align-self: center;
}

.form-btn-group > input[type="button"],
.form-btn-group > input[type="submit"] {
    cursor: pointer;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: var(--robin-egg-blue);
    &[value="Cancel"] {
        background-color: var(--bittersweet);
    }
    &:hover {
        background-color: var(--ash-gray);
    }
}

input[type="text"],
input[type="date"] {
    display: block;
}

.form-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-item-wrapper:has(> input[type="radio"]) {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.form-item-wrapper:has(> input[type="checkbox"]) {
    flex-direction: row;
}

.radio-group-title {
    font-size: 1.5rem;
    text-decoration: underline;
}

.prio-Low {
    color: blue;
}

.prio-Medium {
    color: orange;
}

.prio-High {
    color: red;
}

img[src$=".svg"] {
    width: 1em;
}

img[src$=".svg"]:not(.delete-svg):hover {
    filter: drop-shadow(0 0 2px var(--robin-egg-blue));
}
